{% extends 'dashboard/table.html.twig' %}

{% block tableTitle %}
    <h1 class="font-extrabold text-lg">models on sale</h1>
{% endblock %}


{% block tableButton %}
    {% if button %}
        <a href="./cars-currently-on-sale" class="btn-gray text-sm">view all</a>
    {% endif %}
{% endblock %}


{% block tableHead %}
    <td class="py-4 font-extrabold text-sm text-left">model</td>
    <td class="py-4 font-extrabold text-sm">count</td>
{% endblock %}

{% block tableBodyItems %}
    {% for model in modelsOnSale %}
        <!-- item -->
        <tr class="">
            <td class="py-4 text-sm text-gray-600 flex flex-row items-center text-left">
                {{ model.model }}
            </td>
            <td class="py-4 text-xs text-gray-600"><span class="num-2">{{ model.count }}</span></td>
        </tr>
        <!-- end item -->
    {% endfor %}
{% endblock %}