{% extends 'base.html.twig' %}

{% block body %}
    <body class="bg-gray-100 h-5">

    <!-- strat wrapper -->
    <div class="h-screen flex flex-row flex-wrap">

        {% include 'dashboard/sidebar.html.twig' %}

        <!-- strat content -->
        <div class="bg-gray-100 flex-1 p-6 md:mt-16">

            {% block content %}

            {% endblock %}

        </div>
        <!-- end content -->

    </div>
    <!-- end wrapper -->

    <!-- script -->

    <!-- end script -->

    </body>
{% endblock %}
