<div class="card">

    <div class="card-body">
        <div class="flex flex-row justify-between items-center">

            {% block tableTitle %}

            {% endblock %}

            {% block tableButton %}

            {% endblock %}

        </div>

        <table class="table-auto w-full mt-5 text-right">

            <thead>
            <tr>
                {% block tableHead %}

                {% endblock %}
            </tr>
            </thead>

            <tbody>

            {% block tableBodyItems %}

            {% endblock %}

            </tbody>

        </table>

    </div>
</div>